ul {
  list-style: none;
}

/* ---------------------------------------------- */
/* 헤더                                            */
/* ---------------------------------------------- */
.header {
  border-bottom: 1px solid var(--color-gray-100);
}

.header__inner {
  
  width: 1020px;
  margin: 0 auto;
}

.button--category {
  display: flex;
  width: 110px;
  height: 116px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
  font-weight: 400;
  font-size: 12px;
  line-height: 120%;
  color: var(--color-white);
  background-color: var(--color-blue-600);
  border: 1px solid var(--color-blue-600);

  
}

.button--category:focus {
  border: 1px solid var(--color-red-500);
  border-radius: 5px;
  box-shadow: 1px 1px 1px var(--color-red-500);
}




/* ---------------------------------------------- */
/* 내비게이션                                        */
/* ---------------------------------------------- */

.navigation {
   font-size: 12px;
   line-height: 120%;
   font-weight: 400;
   width: 1020px;
   height: 520px;
   margin: 0 auto;

}

.navigation__inner {
  position: relative;
  width: 1020px;
  margin: 0 auto;
  
}




nav h3 {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip-path: polygon(0 0, 0 0, 0 0);
  border: 0;
}




.navigation__list {
  width: 180px;
  height: 500px;
  padding: 10px 5px;
  margin: 0;
  font-size: 12px;
  line-height: 120%;
  font-weight: 400;
  box-shadow: 0px 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.navigation__list li a {
  width: 170px;
  height: 30px;
  position: relative;
  align-items: center;
  display: flex;
  
}

.navigation__list .iconfont {
  margin-right: 4px;
  color: var(--color-gray-900);
}

.navigation__list.depth-1 {
  position: absolute;
  top: 0;
  left: 0;
}

.navigation__list.depth-2,
.navigation__list.depth-3 {
     display: none;
     position: absolute;
     top: 0;
     left: 180px;

}

.navigation__list.depth-2 li a,
.navigation__list.depth-3 li a {
  padding: 8px 0 8px 20px;
}



.navigation__list.is--active {
  display: block;
}



.navigation__list.depth-1 > li:hover > a:after,
.navigation__list.depth-2 > li:hover > a:after {
    content: '';
    position: absolute;
    width: 9px;
    height: 6px;
    right: 10px;
    background-image: url("/assets/icon/more-right-active.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;


}




.navigation__list > li:hover > a,
.navigation__list > li:focus > a,
.navigation__list > li:hover > a > .iconfont,
.navigation__list > li:focus > a > .iconfont {
  color: var(--color-blue-600);
  font-weight: 700;
}






/* ---------------------------------------------- */
/* 메인 콘텐츠                                       */
/* ---------------------------------------------- */
/* 메인 콘텐츠 영역의 최소 높이 설정 */
.main{
  min-height: 52rem;
}


/* ---------------------------------------------- */
/* 푸터                                            */
/* ---------------------------------------------- */
.footer {
  width: 100%;
  height: 349px;
  display: grid;
  grid-template-rows: 40px 207px 102px;
  grid-template-columns: 1fr;
  grid-template-areas: 
  "guide"
  "ifm"
  "sns";


}



.guide {
   display: flex;
   width: 100%;
   
   grid-area: guide;
   background-color: var(--color-gray-200);
 
}

.guide-list {
    display: flex;
    width: 1006px;
    margin: 0 auto;
    justify-content: space-around;
    text-align: center;
    align-items: center;
}

.guide-text {
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;

  color: var(--color-gray-800);
}



.information {
  grid-area: ifm;
  display: flex;
  width: 1200px;
  height: 143px;
  margin: 32px auto;
  justify-content: space-between;
  


}



.inf-logo {
   width: 176px;
   height: 40px;
   background-image: url("/assets/logo/logo-mono.svg");
   background-repeat: no-repeat;
   background-size: contain;
   
}


.inf-logo span {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip-path: polygon(0 0, 0 0, 0 0);
  border: 0;
}

.inf-name, .inf-number, .inf-bank {
  font-size: 16px;
  color: var(--color-gray-800);
}



.inf-number span:first-child {
  font-weight: 700;
  padding-right: 13px;
  border-right: 1px solid;
}

.inf-number span:nth-child(2) {
  padding-left: 15px;
}



#phoneNumer {
  display: block;
  margin: 8px 0 12px 0;
  font-weight: 700;
  font-size: 48px;
  line-height: 120%;
}



/* copyright -sns banner  */

.sns {
  grid-area: sns;
  background-color: var(--color-gray-900);
}


.sns-content {
  display: flex;
  width: 1020px;
  height: 70px;
  justify-content: space-between;
  margin: 0 auto;
}


.copyright p {
  font-size: 12px;
  color: var(--color-gray-200);
  font-weight: 300;
}

.sns-link {
  display: flex;
  align-items: flex-end;
}

.sns-link > a:nth-child(3) {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  background: linear-gradient(174.12deg, #4E28EB 5.61%, #BC1888 22.32%, #CC2366 36.16%, #DC2743 51.91%, #E6683C 73.38%, #F09433 91.99%);
} 